
# Entorno virtual
venv/
ENV/
env/

Lib/
Include/
Scripts/
pyvenv.cfg

# Archivos de entorno
.env

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de salida
*.xlsx

# Archivos del sistema
.DS_Store
Thumbs.db# Created by venv; see https://docs.python.org/3/library/venv.html
*
